/* BODY */
body {
  font-family: 'Manrope', sans-serif;
  background-color: #faf1e2;
}
.wrapper {
  position: relative;
  width: 100%;
}

.title {
  width: 40%;
  color: #753422;
  font-size: 100px;
}

/* HEADER */
header {
  background: transparent;
  background-color: #faf1e2;
}

.color-me {
  color: #b05b3b !important;
}
.navbar-toggler-icon {
  border-color: #b05b3b;
}

/* LANDING */
#intro {
  position: relative;
  overflow: hidden;
}

.backgroundImage {
  background-image: url('./assets/earthlandscape.jpeg');
  filter: blur(6px);
  -webkit-filter: blur(6px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: block;
  background-attachment: fixed;
}
.back {
  height: 750px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}

.introText {
  background-color: #faf1e2;
  background-color: #faf1e242;
  color: #753422;
  border: 3px solid #faf1e242;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 75%;
  padding: 30px;
  text-align: center;
}

.h1Text {
  font-size: 70px;
}

/* ABOUT */
#about {
  background-color: #faf1e2;
  color: #b05b3b;
  padding-bottom: 5%;
}
.selfPic {
  width: 60%;
  border-radius: 15px;
  border: #753422;
}
.logo {
  filter: invert(24%) sepia(11%) saturate(3098%) hue-rotate(326deg)
    brightness(98%) contrast(96%);
  -webkit-filter: invert(24%) sepia(11%) saturate(3098%) hue-rotate(326deg)
    brightness(98%) contrast(96%);
}

.logo:hover {
  filter: invert(41%) sepia(76%) saturate(449%) hue-rotate(331deg)
    brightness(86%) contrast(89%);
  -webkit-filter: invert(41%) sepia(76%) saturate(449%) hue-rotate(331deg)
    brightness(86%) contrast(89%);
}

.pText {
  font-size: 18px;
}

/* PORTFOLIO */
#portfolio {
  background-color: #faf1e2;
  color: #b05b3b;
}

.card {
  background-color: #faf1e2;
  border: #b05b3b solid 1px;
}

/* SKILLS */
#skills {
  background-color: #faf1e2;
  color: #b05b3b;
  height: 700px;
  padding-top: 6%;
}
.elementPic {
  padding-top: 20%;
  height: 100%;
  filter: invert(41%) sepia(76%) saturate(449%) hue-rotate(331deg)
    brightness(86%) contrast(89%);
  -webkit-filter: invert(41%) sepia(76%) saturate(449%) hue-rotate(331deg)
    brightness(86%) contrast(89%);
}

/* FORM */
#contact {
  background-color: #faf1e2;
  color: #b05b3b;
  height: 500px;
  padding-top: 5%;
}

.btn {
  background-color: #753422;
  color: #faf1e2;
}

.btn:hover {
  background-color: #b05b3b;
  color: #faf1e2;
}

.modal-content {
  background-color: #faf1e2;
}

.modal-title {
  color: #753422;
  margin-left: 35%;
}

.modal-header {
  border-bottom: 0 none;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: #753422;
  border: none;
  border-radius: 7px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 0.825rem;
  margin-bottom: 0.2rem;
  padding-top: 0.1rem;
  display: flex;
  align-items: center;
  color: #753422;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid #753422;
  background-color: #faf1e2;
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: #d7967183;
  outline-style: solid;
  outline-width: thin;
  outline-color: #753422;
  outline-offset: -1px;
}

#fs-frm [type='text'],
#fs-frm [type='email'] {
  width: 100%;
}

#fs-frm [type='submit'] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

#fs-frm [type='submit']:focus {
  outline: none;
}

#fs-frm [type='submit'] {
  margin-bottom: 6;
}

#fs-frm select {
  text-transform: none;
}

/* FOOTER */
footer {
  background-color: #753422;
  color: #faf1e2;
}

.smallLogo {
  filter: invert(95%) sepia(10%) saturate(1085%) hue-rotate(306deg)
    brightness(108%) contrast(97%);
  -webkit-filter: invert(95%) sepia(10%) saturate(1085%) hue-rotate(306deg)
    brightness(108%) contrast(97%);
}
